<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengcone.caption.mapper.PackageMapper" >
  <resultMap id="BaseResultMap" type="com.fengcone.caption.domain.Package" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="caption_id" property="captionId" jdbcType="BIGINT" />
    <result column="chinese" property="chinese" jdbcType="VARCHAR" />
    <result column="english" property="english" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, caption_id, chinese, english, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from package
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from package
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fengcone.caption.domain.Package" >
    insert into package (id, caption_id, chinese, 
      english, start_time, end_time
      )
    values (#{id,jdbcType=BIGINT}, #{captionId,jdbcType=BIGINT}, #{chinese,jdbcType=VARCHAR}, 
      #{english,jdbcType=VARCHAR}, #{startTime,jdbcType=INTEGER}, #{endTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fengcone.caption.domain.Package" >
    insert into package
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="captionId != null" >
        caption_id,
      </if>
      <if test="chinese != null" >
        chinese,
      </if>
      <if test="english != null" >
        english,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="captionId != null" >
        #{captionId,jdbcType=BIGINT},
      </if>
      <if test="chinese != null" >
        #{chinese,jdbcType=VARCHAR},
      </if>
      <if test="english != null" >
        #{english,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengcone.caption.domain.Package" >
    update package
    <set >
      <if test="captionId != null" >
        caption_id = #{captionId,jdbcType=BIGINT},
      </if>
      <if test="chinese != null" >
        chinese = #{chinese,jdbcType=VARCHAR},
      </if>
      <if test="english != null" >
        english = #{english,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengcone.caption.domain.Package" >
    update package
    set caption_id = #{captionId,jdbcType=BIGINT},
      chinese = #{chinese,jdbcType=VARCHAR},
      english = #{english,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>